<h4>
  <%= @title %>
</h4>
<div class="input-field">
  <textarea id="new_commnet" class="materialize-textarea"></textarea>
  <button id="add_comment" class="btn">Add Comment</button>
</div>
<ul class="collection" id="comment-list">
</ul>
<script>
  document.addEventListener("DOMContentLoaded", ()=> {
  createSocket(<%= @id %>)
  })
</script>
